---
# init-sysctl defaults
ops_sysctl_params:
  net.ipv4.tcp_fin_timeout: 15
  net.ipv4.tcp_tw_reuse: 1
  net.ipv4.tcp_keepalive_time: 600
  net.ipv4.tcp_keepalive_intvl: 30
  net.ipv4.tcp_keepalive_probes: 3
  net.ipv4.tcp_max_syn_backlog: 8192
  net.ipv4.tcp_syncookies: 1
  net.ipv4.tcp_syn_retries: 2
  net.ipv4.tcp_synack_retries: 2
  net.ipv4.tcp_slow_start_after_idle: 0
  net.ipv4.tcp_mtu_probing: 1
  net.ipv4.tcp_rmem: "4096 87380 16777216"
  net.ipv4.tcp_wmem: "4096 65536 16777216"
  net.core.somaxconn: 32768
  net.core.netdev_max_backlog: 16384
  net.core.rmem_max: 16777216
  net.core.wmem_max: 16777216
  net.ipv4.ip_forward: 0
  net.ipv4.conf.all.rp_filter: 1
  net.ipv4.conf.default.rp_filter: 1
  net.ipv4.conf.all.accept_redirects: 0
  net.ipv4.conf.default.accept_redirects: 0
  net.ipv4.conf.all.send_redirects: 0
  net.ipv4.conf.default.send_redirects: 0
  net.ipv4.conf.all.accept_source_route: 0
  net.ipv4.conf.default.accept_source_route: 0
  net.ipv4.ip_local_port_range: "10000 65535"
  net.ipv6.conf.all.disable_ipv6: 1
  net.ipv6.conf.default.disable_ipv6: 1
  fs.file-max: 2097152
  fs.nr_open: 2097152
  fs.inotify.max_user_watches: 524288
  fs.inotify.max_user_instances: 8192
  vm.swappiness: 10
  vm.max_map_count: 262144
  vm.dirty_ratio: 20
  vm.dirty_background_ratio: 5
  kernel.sysrq: 0
  kernel.pid_max: 4194304
