---
- name: Restart node_exporter
  ansible.builtin.systemd:
    name: node_exporter
    state: restarted
    daemon_reload: true

- name: Restart cloud-node
  ansible.builtin.command:
    cmd: /usr/local/cloud/cloud-node/bin/cloud-node restart
