---
# init-ssh defaults
ops_ssh_port: 22
ops_ssh_permit_root_login: "no"
ops_ssh_password_authentication: "no"
ops_ssh_max_auth_tries: 3
ops_ssh_client_alive_interval: 300
ops_ssh_client_alive_count_max: 3
ops_ssh_x11_forwarding: "no"
ops_ssh_allow_tcp_forwarding: "no"
ops_ssh_max_sessions: 10

ops_ssh_emergency_enabled: true
ops_ssh_emergency_port: 22222
ops_ssh_emergency_permit_root_login: "yes"
ops_ssh_emergency_password_authentication: "yes"
