---
# init-facts handlers

- name: Restart chronyd
  ansible.builtin.systemd:
    name: chronyd
    state: restarted

- name: Restart chrony
  ansible.builtin.systemd:
    name: chrony
    state: restarted
