# Managed by ops-os-init — 密码复杂度策略
# /etc/security/pwquality.conf

minlen = {{ ops_pwquality_minlen }}
dcredit = {{ ops_pwquality_dcredit }}
ucredit = {{ ops_pwquality_ucredit }}
lcredit = {{ ops_pwquality_lcredit }}
ocredit = {{ ops_pwquality_ocredit }}
minclass = {{ ops_pwquality_minclass }}
maxrepeat = {{ ops_pwquality_maxrepeat }}
retry = {{ ops_pwquality_retry }}
